{% extends "layout.html" %}

{% block title %}
   Admin
{% endblock %}

{% block main %}
admin
<a href="{{ url_for('logout') }}">Log out</a>

<div id="calendar"></div>
<script>
        $('#calendar').fullCalendar({
            events: "{{ url_for('admin') }}",
            eventClick: function(calEvent, jsEvent, view) {
                link = "{{ url_for('appraisal')}}" + "?id=" + calEvent.id;
                window.location.href = (link);

            }
            
            
        });
        
    </script>

{% endblock %}