{% extends "layout.html" %}

{% block title %}
    Sign In
{% endblock %}

{% block main %}
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="#" class="navbar-left"><img src="{{ url_for('static', filename='logopng.png') }}" width="115px" ></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ url_for('adminlogin') }}">Admin Login</a></li>
            </ul>
        </div>
    </div>
</nav> 
<body>
    <div class="jumbotron jumbotron-fluid"  style="background-image: url({{ url_for('static', filename='metrics-c.jpeg') }}); margin-bottom:0px">
        <div class="forcontent container">
            <h1 style="letter-spacing: 4px;">SkillsGen Metrics</h1>   
            <form class="form-signin" method="post">
                <h4 class="form-signin-heading" style="letter-spacing: 4px;">Please enter the date of your course and your course code.</h4>
                <div class="form-signin" id="datepicker">
                    <div>
                        <input type="hidden" name="date" id="date">
                    </div>
                </div>
                <label for="inputPassword" class="sr-only">Password</label>
                <input  name="code" id="code" class="form-control" placeholder="Code" required style="letter-spacing: 4px; text-align: center">
                <button class="btn btn-lg btn-primary btn-block" type="submit" style="letter-spacing: 4px;">Sign in</button>
            </form>
        </div>
    </div>    
</body>
<div class="jumbotron" style="margin-top: 0px; padding-right: 15px">
        <div class="row text-center">
            <div class="col-sm-4" style="padding-left: 30px; padding-right: 0px">
                    <span class="glyphicon glyphicon-question-sign"></span>
                    <p style="padding-top: 15px">As the delegate, your trainer should provide you with a 5 digit code at the completion of your course. Enter the code along with the date of the course into the form above and you will be taken to your Course Appraisal.</p>
            </div>
            <div class="col-sm-4" style="padding-left: 30px; padding-right: 0px">
                    <span class="glyphicon glyphicon-question-sign"></span>
                    <p style="padding-top: 15px">As the booker of the course, you should have been provided with a 7 digit code. Enter the code along with the date of the course into the form above and you will be taken to a summary of the delegates feedback on the course.</p>
            </div>
            <div class="col-sm-4" style="padding-left: 30px; padding-right: 30px">
                    <span class="glyphicon glyphicon-question-sign"></span>
                <p style="padding-top: 15px">Example delegate code: "<b>d885f</b>".</p>
                <p>Example booker code: "<b>75e85c2</b>"</p>
            </div>
        </div>
    <hr>
        <div class="row text-center">
            <div class="col-sm-6" style="padding-left: 80px; padding-right: 60px">
                    <span class="glyphicon glyphicon-ok"></span>
                    <p style="padding-top: 15px">Thank you for the opportunity to assist in the development of your staff during this recent training day. We use these evaluations to continuously improve our training for all customers.</p>
            </div>
            <div class="col-sm-6"  style="padding-left: 60px; padding-right: 80px">
                    <span class="glyphicon glyphicon-ok"></span>
                    <p style="padding-top: 15px">Training should be seen as part of a programme of continuous development and we would be delighted to discuss the next steps in the progression of your staff.</p>
            </div>
    </div>
</div>

<footer class="container-fluid text-center">
    <a href="#top" title="To Top">
        <span class="glyphicon glyphicon-chevron-up" style="margin-bottom: 20px"></span>
    </a>
</footer> 
<script>
    $('#datepicker div').datepicker({
        startDate: "-1y",
        todayHighlight: true,
        todayBtn: true
    }).on('changeDate', function(e){
      $('#date').val(e.format('yyyy-mm-dd'))
    }); 
</script>

{% endblock %}