<html>
    <head>
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet"/>
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
        <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    </head>
    <body style="background-color: eee;">
        <div class="content">
        <div class="jumbotron">
            <div class="text-center" style="letter-spacing:4px">
                <h1>Thank You!</h1>
                <span class="glyphicon glyphicon-ok" aria-hidden="true" style="font-size:50;color:lightgreen"></span>
            </div>
        </div>
        </div>
    </body>
    <footer id="myFooter">
        <div class="container">
            <div class="row" style="text-align:center">
                <div class="col-sm-6">
                    <h2 style="letter-spacing:4px; color: white; padding-top: 12px">SkillsGen</h2>
                </div>
                <div class="col-sm-6">
                    <div class="social-networks">
                        <a href="https://twitter.com/skillsgenltd" class="twitter"><i class="fa fa-twitter"></i></a>
                        <a href="https://www.facebook.com/OfficialSkillsGen/" class="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="https://www.linkedin.com/company/skillsgen" class="linkedin"><i class="fa fa-linkedin"></i></a>
                    </div>
                    <button type="button" class="btn btn-default" onclick="location.href='mailto:admin@skillsgen.com'">Contact us</button>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>© 2017</p>
            
        </div>
    </footer>